---
import BaseHead from '../../components/BaseHead.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Footer from '../../components/Footer.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseLayout>
		<header class="w-full py-40 sm:py-48 border-b border-gray-200 text-gray-600 dark:text-light">
			<div class="container mx-auto">
				<h1 class="text-4xl font-bold">Blog</h1>
				<p>Yup.. expect more post soon 😊</p>
			</div>
		</header>
		<main class="flex h-full">
			<!-- <aside class="border-l-0 border-t-0 border-b-0 border-r-1 border-gray-200 h-full w-1/3 p-8">
				<div class="mx-auto pl-8">
					<h2>Popular Posts</h2>
					{}
				</div>
			</aside> -->
			<section class="container mx-auto  py-8">
				<ul class="grid grid-cols-1 md:grid-cols-4">
					{
						posts.map((post) => (
							<li>
								<div class="bg-white dark:bg-dark p-4 shadow-lg rounded-lg">
									<a href={`/blog/${post.slug}/`} class="text-gray-500 dark:text-light hover:text-primary transition-color duration-400 ease-in prose">
										<img width={720} height={360} src={post.data.heroImage} alt="" />
										<h3 class="title">{post.data.title}</h4>
											<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</a>
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</BaseLayout>
	</body>
</html>
