---
import { Image } from 'astro:assets';

const { name, avatar, handle, link } = Astro.props;
---

<div class="p-4 inline-flex items-center gap-4">
  <Image class="w-10 h-10 rounded-full" width="48px" height="48px" src={avatar} alt={name}>
  <div class="text-left">
    <span class="block">{name}</span>
    <a class="block text-xs text-gray-400" href={link}>@{handle}</a>
  </div>
</div>