---
import { getCollection } from 'astro:content';
import ShowcaseCard  from './ShowcaseCard.astro';

const showcaseEntries = await getCollection('showcase');
console.log(showcaseEntries);
---

<section class="min-h-screen snap-start text-gray-500 flex justify-center items-center pt-16">
  <div class="container mx-auto dark:text-light">
    <h2 class="important-text-4xl   mb-8 opacity-0 animate-fade-in animate-delay-1s animate-forwards">
      Showcase your <strong class="text-primary">work</strong>.
    </h2>
    <p>Be part of the a big community of creators and 3D entusiasts</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-16 pt-32">
      {showcaseEntries.map(({data}) => (
        <ShowcaseCard 
          author={data.author} 
          avatar={data.avatar}
          title={data.title}
          thumbnail={data.thumbnail}
          authorLink={data.author_link}
          repo={data.repo}
          demo={data.demo}
          status={data.status}
        />
      ))}
    </div>
  </div>
</section>