---
const { title, thumbnail, author, authorLink, avatar, website, status, media, repo, demo } = Astro.props;
---

<div class="flex flex-col items-center gap-8">
  <div class="relative bg-white dark:bg-dark 
    rounded-xl border border-2 border-gray-100 
    w-full p-4 shadow-xl text-gray-500 dark:text-light"
  >
    {status === 'Soon' && <img src="/soon.png" class="w-32 absolute -top-8 -right-8" alt="Soon">}
    <a href={demo} target="_blank" class="block mb-16 text-gray-500 dark:text-light hover:text-primary transition-color duration-400 ease-in">
      <img class="aspect-video mb-8" src={thumbnail} alt={`${title} by ${author}`}>
      <h3 class="font-bold text-3xl">{title}</h3>
    </a>
    <footer class="flex justify-between items-end text-right">
      <div class="flex gap-2">
        {repo && <a class="i-carbon-logo-github text-gray-500 dark:text-light hover:text-primary transition-color duration-400 ease-in" href={repo} target="_blank"></a>}
        {demo && <a class="i-carbon-launch text-gray-500 dark:text-light hover:text-primary transition-color duration-400 ease-in" href={demo} target="_blank"></a>}
      </div>
       <div>
        <p class="text-xl mb-0">{author}</p>
        <a href={authorLink} class="text-gray-400 dark:text-light hover:text-primary transition-color duration-400 ease-in" target="_blank">@{authorLink.split('/').pop()}</a> 
       </div>
    </footer>
  </div>
  <img class="w-16 h-16 rounded-full shadow-xl border border-dark" 
    src={avatar} 
    alt={author}
  >
</div>