---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import AuthorBadge from '../components/AuthorBadge.astro';
import Footer from '../components/Footer.astro';
import StatusQuo from '../../components/StatusQuo.vue';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>

			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<div class="simpler-bg h-screen">
			<Header />
			<main class="container mx-auto py-32">
				<article>
					<div class="flex flex-col items-center w-full">
						{heroImage 
							&& <Image 
							widths={[240, 540, 720, 1920]}
  						sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1920px`}
							width={1020}
							height={510}
							src={heroImage} 
							alt="Blog post hero image"
							/>
						}
						<header class="bg-white dark:bg-dark py-8 w-full prose text-gray-600 dark:text-light rounded-lg md:-mt-40  mx-auto text-center z-10">
							<div class="title">
								<div class="date">
									<FormattedDate date={pubDate} />
									{
										updatedDate && (
											<div class="last-updated-on">
												Last updated on <FormattedDate date={updatedDate} />
											</div>
										)
									}
								</div>
								<h1>{title}</h1>
							</div>
								<AuthorBadge
									class="mx-auto"
									name={author.name}
									avatar={author.avatar}
									handle={author.handle}
									website={author.website}
								/>
							<hr />
						</header>
					</div>
					
	
					<div class="prose mx-auto text-gray-600 dark:text-light ">
						<slot />
					</div>
				</article>
			</main>
			<Footer />
		</div>
		
	</body>
</html>
